<div class="container-comments">
  <h1>Comments#{{index}}</h1>
  <div *ngIf="messageTask" class="container-task">
    <div class="container-message" *ngFor="let message of messageTask.comments">
      <div class="picture">
        <!-- <img src="" alt=""> -->
      </div>
      <div class="message">
        <p>{{message}}</p>
      </div>
    </div>
  </div>
  
  <div class="container-send-message">
    <div class="send-picture">
      <img src="" alt="">
    </div>
    <div class="message">
      <textarea #message name="inputMessage" id="inputMessage" cols="60" rows="6"
        (keydown.control.Enter)="addMessage(message.value); message.value=''"></textarea>
    </div>
  </div>
</div>